@import "normalize";
@import "../../node_modules/medium-editor/src/sass/medium-editor";
@import "vendor/flatpickr/themes/light";

$font: 'Titillium Web', sans-serif;

html {
  background: #f4f4f4;
}

body {
  display:        flex;
  flex-direction: column;
  height:         100vh;
  font-family:    $font;
  color:          rgba(0, 0, 0, 0.87);
  background:     #fff;

  &.fullscreen .wrapper {
    display: initial;

    .switch-display-mode {
      position: absolute;
    }
  }
}

.wrapper {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  height:         100%;

  @media screen and (min-width: 700px) {
    flex-wrap: nowrap;
  }
}

main {
  order: 1;

  @media screen and (min-width: 700px) {
    order:      2;
    width: 80vw;
    height:     100%;
    overflow-y: auto;
  }
}

input,
button,
textarea,
.editor {
  -webkit-appearance: none;
  padding:            .5rem;
  border:             1px solid transparent;
  border-radius:      2px;
  font-size:          1rem;
  background:         rgba(0, 0, 0, .05);
  color:              rgba(0, 0, 0, .5);
  transition:         all .125s;
  font-family:        $font;

  &:hover {
    background: rgba(0, 0, 0, .1);
  }

  &:focus {
    background:   rgba(0, 0, 0, .025);
    border-color: #2196f3;
    outline:      0;
  }
}

input {
  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .3);
  }
}

textarea {
  display: block;
}

.editor {
  font-size:   1rem;
  min-height:  2.5rem;
  line-height: 1.25rem;
  cursor:      text;

  &::after {
    bottom: 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.medium-editor-toolbar {
  background:    #fafafa;
  border-radius: 2px;
  box-shadow:    0 5px 25px rgba(0, 0, 0, .2);

  li {
    button {
      background:    none;
      border:        0;
      border-radius: 0;
    }

    &:hover button,
    button.medium-editor-button-active {
      color: #2196f3;
    }
  }

  &::after {
    width:        0;
    height:       0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #fafafa transparent transparent transparent;
  }

  .medium-editor-toolbar-form {
    input {
      border-radius:  0;
      vertical-align: top;
      background:     none;
      padding:        1rem;
      font-size:      1rem;
    }

    a {
      color:          rgba(0, 0, 0, .35);
      font-size:      1.5rem;
      padding:        1rem;
      margin:         2px 0 0;
      vertical-align: bottom;
      transition:     .125s;

      &:hover {
        color: rgba(0, 0, 0, .55);
      }
    }
  }

  &-save {
    font-size: 0 !important;

    &::before {
      display:                 inline-block;
      font:                    normal normal normal 1rem/1 'iconmonstr-iconic-font';
      font-size:               1rem !important;
      text-rendering:          auto;
      -webkit-font-smoothing:  antialiased;
      -moz-osx-font-smoothing: grayscale;
      content:                 '\e023';
    }
  }

  &-close {
    font-size: 0 !important;

    &::before {
      display:                 inline-block;
      font:                    normal normal normal 1rem/1 'iconmonstr-iconic-font';
      font-size:               1rem !important;
      text-rendering:          auto;
      -webkit-font-smoothing:  antialiased;
      -moz-osx-font-smoothing: grayscale;
      content:                 '\e08c';
    }
  }
}

.medium-editor-anchor-preview {
  a {
    display:       block;
    margin:        0;
    padding:       .5rem;
    border-radius: 2px;
    background:    #fafafa;
    color:         rgba(0, 0, 0, .5);
  }

  &::before {
    width:        0;
    height:       0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fafafa transparent;
  }
}

.flatpickr-wrapper {
  flex-basis: 80%;

  input {
    width: 100%;
  }
}

button {
  padding: .5rem 1.25rem;
  color:   rgba(0, 0, 0, .5);
  cursor:  pointer;

  &.minimal {
    padding:    .5rem;
    background: none;
    box-shadow: none;
    color:      #000;
    font-size:  1rem;
  }

  &.danger {
    background: #f44336;
  }

  .im {
    font-size:      1rem;
    line-height:    1rem;
    vertical-align: middle;
    padding-right:  .75rem;
  }
}

label {
  display:     flex;
  margin:      .5rem 0;
  align-items: center;

  .label-text {
    flex-basis:  20%;
    flex-shrink: 0;
    color:       rgba(0, 0, 0, .5);
    transition:  color .125s;
  }

  input,
  textarea,
  .editor {
    flex-basis:  80%;
    flex-shrink: 1;
  }

  & + button,
  & + .button-group {
    margin-top: .5rem;
  }

  &.focus .label-text {
    color: #2196f3;
  }
}

.button-group {
  display:         flex;
  flex-direction:  row;
  justify-content: flex-end;

  button {
    & + button {
      margin-left: 1rem
    }
  }
}

form.dialog {
  max-width:     600px;
  margin:        1rem auto;
  padding:       1rem;
  background:    #fff;
  border-radius: 3px;
  box-shadow:    0 1px 5px rgba(0, 0, 0, .1);
}

.no-content {
  display:    block;
  padding:    4rem;
  color:      rgba(0, 0, 0, .5);
  text-align: center;
}

.page-header {
  display:         flex;
  width:           100vw;
  align-items:     center;
  justify-content: space-between;
  padding:         1rem;
  background:      #fafafa;
  //  border-bottom:   2px solid #f4f4f4;
}

nav.menu {
  display: flex;

  .menu-item {
    display: block;
    padding: 1rem;

    &-link {
      text-decoration: none;
      color:           #2196f3;
    }

    &-logo {
      font-weight: bolder;
    }
  }
}

.content-header {
  display:         flex;
  flex-basis:      100vw;
  flex-direction:  column;
  align-items:     flex-start;
  justify-content: flex-start;
  order:           2;
  height:          initial;
  padding:         0;
  background:      #f4f4f4;

  @media screen and (min-width: 700px) {
    order:      1;
    flex-basis: 20vw;
    height:     100%;
    box-shadow: inset -20px 0 20px -10px rgba(0, 0, 0, .05);
  }

  h3 {
    width:          calc(100% - 1rem);
    margin:         3rem 0 1rem 1rem;
    color:          rgba(0, 0, 0, .4);
    font-size:      1rem;
    font-weight:    400;
    text-shadow:    0 1px rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .actions {
    display:    flex;
    width:      100%;
    margin-top: auto;

    button {
      width:       100%;
      padding:     1rem;
      background:  none;
      color:       rgba(0, 0, 0, 0.5);
      text-shadow: 0 1px rgba(255, 255, 255, 1);
      box-shadow:  none;

      &:hover {
        color: rgba(0, 0, 0, .35);
      }
    }
  }

  button {
    margin: 0 .5rem;
  }
}

.search-form {
  display:       flex;
  width:         100%;
  margin:        0;
  border-bottom: 1px solid rgba(0, 0, 0, .15);

  input,
  button {
    border:        0;
    border-radius: 0;
    box-shadow:    none;
    background:    rgba(0, 0, 0, .075);
    color:         #000;
  }

  & > button {
    display:     block;
    flex-basis:  1rem;
    margin:      0;
    color:       rgba(0, 0, 0, .4);
    text-shadow: 0 1px rgba(255, 255, 255, .5);

    .im {
      padding: 0;
    }
  }

  [name="term"] {
    display:   block;
    flex-grow: 1;
    padding:   1rem;

    &::-webkit-input-placeholder {
      color:       rgba(0, 0, 0, .4);
      text-shadow: 0 1px rgba(255, 255, 255, .5);
    }
  }
}

.no-results {
  display:    block;
  padding:    2rem 0;
  color:      rgba(0, 0, 0, .35);
  text-align: center;
}

@import "books";

/**
* Reading mode
*/
html.reader {
  body {
    background: #fff;
  }

  .page-header,
  .content-header {
    border-bottom: 1px solid #000;
  }

  .menu a {
    border: 1px solid #000;

    & + a {
      margin-left: 1rem;
    }
  }

  input,
  button {
    border-radius: 0;
    box-shadow:    none;
    background:    #000;
    color:         #fff;
  }

  a {
    color: #000;
  }

  .book {
    border-radius: 0;
    border:        1px solid #000;
    box-shadow:    none;

    .cover {
      border-radius: 0;
    }
  }

  .books-list .book {
    .meta {
      border-top: 1px solid #000;
    }
  }

  .single-book .book {
    .cover {
      border-right: 1px solid #000;
    }
  }
}
