<header class="content-header">
  {{>sidebar}}
  <div class="actions">
    <button class="cancel"><span class="im im-angle-left"></span>Zurück</button>
  </div>
</header>
<main role="main">
  <form class="add-book" method="post" action="/books/add" enctype="multipart/form-data">
    <h1>Buch hinzufügen</h1>
    <p>Laden Sie ein einfach Buch und das zugehörige Cover hoch - alles weitere geschieht automatisch.</p>
    <label for="book-cover">
      <span class="label-text">Buchcover</span>
      <div class="book-cover-placeholder"></div>
      <input id="book-cover" type="file" name="cover" accept="image/*" required>
    </label>
    <label for="book-file">
      <span class="label-text">Buch (.epub)</span>
      <input id="book-file" type="file" name="file" accept="application/epub+zip" required>
      <ul class="book-meta">
        <li class="title">Titel: <span class="value"></span></li>
        <li class="creator">Autor: <span class="value"></span></li>
        <li class="publisher">Verlag: <span class="value"></span></li>
        <li class="publishingDate">Veröffentlichung: <span class="value"></span></li>
        <li class="genre">Genre: <span class="value"></span></li>
        <li class="isbn">ISBN: <span class="value"></span></li>
        <li class="complete-meta">
          <button type="button" class="toggle-complete-meta">Vollständige Metadaten anzeigen</button>
          <pre></pre>
        </li>
      </ul>
    </label>
    <!--
    <label for="book-title">
      <span class="label-text">Titel</span>
      <input type="text" name="title" placeholder="Titel" required>
    </label>
    <label for="book-author">
      <span class="label-text">Autor</span>
      <input type="text" name="author" placeholder="Autor" required>
    </label>
    -->
    <footer class="button-group">
      <button class="upload-book submit" type="submit">Hochladen</button>
      <button class="cancel" type="button">Abbrechen</button>
    </footer>
  </form>
</main>
<script src="/js/books/add.js"></script>
