<header class="content-header">
  <h1>Bücher von {{author}}</h1>
  <div class="actions">
    <button class="cancel"><span class="im im-angle-left"></span>Zurück</button>
  </div>
</header>
<main role="main" class="list books-list">
  {{#each books}}
    {{>book}}
  {{/each}}
  <article class="spacer"></article>
  <article class="spacer"></article>
  <article class="spacer"></article>
  <article class="spacer"></article>
</main>
<script src="js/books/overview.js"></script>
