<nav class="menu" role="navigation">
  <span class="menu-item menu-item-logo">KIOSK</span>
  <a class="menu-item menu-item-link" href="/books">Bücher</a>
  <a class="menu-item menu-item-link" href="/books/add">Bücher hinzufügen</a>
</nav>
