<html>
  <head>
    <title>Kiosk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/base.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      {{>menu}}
      <button class="switch-display-mode minimal im im-newspaper-o" title="Reader-Modus umschalten"></button>
    </header>
    <div class="wrapper">
      {{{body}}}
    </div>
    <!--    <script src="/js/main.js"></script> -->
  </body>
</html>
