.book {
  position:       relative;
  display:        flex;
  flex-direction: column;
  overflow:       hidden;
  background:     #fff;
  transition:     box-shadow .125s;

  a {
    text-decoration: none;
    color:           inherit;
    cursor:          pointer;

    &:hover {
      color: #2196f3;
    }
  }

  .cover {
    display:             block;
    margin:              0 0;
    background-size:     auto 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius:       2px;

    img {
      display:    block;
      height:     100%;
      max-height: 45vh;
      width:      auto;
      margin:     0 auto;
      opacity:    0;
    }
  }

  .meta {
    padding: .5rem 1rem;
  }

  .title,
  .author,
  .more,
  .genres {
    margin:     0;
    padding:    .5rem 0;
    text-align: center;
  }

  .genres {
    a:not(:last-child)::after {
      content: ','
    }
  }

  .title {
    font-size:     1rem;
    font-weight:   600;
    text-overflow: ellipsis;
    white-space:   nowrap;
    // overflow:      hidden;
  }

  .author,
  .more {
    font-size:   .9rem;
    font-weight: 500;
  }

  & > .edit-book {
    position:   absolute;
    top:        0;
    right:      0;
    border:     0;
    transition: color .125s;

    &::before {
      position: relative;
      z-index:  2;
    }

    &::after {
      content:      '';
      display:      block;
      position:     absolute;
      z-index:      0;
      top:          0;
      right:        0;
      width:        0;
      height:       0;
      border-style: solid;
      border-width: 0 3.5rem 3.5rem 0;
      border-color: transparent;
      transition:   border-color .125s;
    }

    &:hover {
      color: #fff;

      &::after {
        border-right-color: #2196f3;
      }
    }
  }

  .edit-title,
  .edit-author {
    position:       absolute;
    left:           0;
    width:          100%;
    opacity:        0;
    pointer-events: none;
    background:     #fff;
    border:         0;
    height:         2.5rem;
    text-align:     center;
  }

  .edit-title {
    bottom: 2.5rem;
  }

  .edit-author {
    bottom: 0;
  }

  &.edit {
    .edit-title,
    .edit-author {
      opacity:        1;
      pointer-events: initial;
    }
  }
}

.books-list {
  display:         flex;
  flex-wrap:       wrap;
  width:           100%;
  margin:          0;
  padding:         1rem 0;
  list-style:      none;
  justify-content: flex-start;
  align-items:     stretch;
  overflow-y:      auto;
  background:      #fff;

  @media screen and (min-width: 700px) {
    flex-basis: 80vw;
    height:     100%;
  }

  .book {
    margin:  1rem .5rem;
    padding: 0;

    & > a {
      display:         block;
      text-decoration: none;
      color:           initial;
    }

    &:hover .cover img {
      box-shadow: 0 1px 25px rgba(0, 0, 0, 0.15);
    }

    &:not(.spacer) {
      width: calc(100% - 1rem);

      @media screen and (min-width: 450px) and (max-width: 599px) {
        width: calc(50% - 1rem);
      }

      @media screen and (min-width: 600px) and (max-width: 699px) {
        width: calc((100% / 3) - 1rem);
      }

      @media screen and (min-width: 700px) {
        width: calc(50% - 1rem);
      }

      @media screen and (min-width: 900px) {
        width: calc((100% / 3) - 1rem);
      }

      @media screen and (min-width: 1100px) {
        width: calc(25% - 1rem);
      }
    }

    &.spacer {
      margin: 0 .5rem;
    }

    &.add-book-pseudo {
      @media screen and (max-width: 700px) {
        display: none;
      }

      .cover {
        border:           2px dashed rgba(0, 0, 0, .15);
        border-radius:    5px;
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%200c-6.627%200-12%205.373-12%2012s5.373%2012%2012%2012%2012-5.373%2012-12-5.373-12-12-12zm6%2013h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z%22%20fill%3D%22%23ddd%22%2F%3E%3C%2Fsvg%3E);
        background-size:  50% 50%;
        opacity:          .5;
        transition:       opacity .25s;
      }

      .title {
        color:      #ccc;
        transition: color .25s;

      }
      &:hover {
        .cover {
          opacity: 1;
        }

        .title {
          color: #bbb;
        }
      }
    }
  }
}

.single-book {
  width: 100%;

  .book {
    min-height:     100%;
    flex-direction: column;
    flex-wrap:      wrap;
    align-items:    stretch;
    border-radius:  0;

    @media screen and (min-width: 800px) {
      flex-direction: row;
    }

    .left-navigation {
      position:            relative;
      display:             flex;
      flex-direction:      row;
      align-items:         flex-start;
      justify-content:     space-between;
      order:               1;
      flex-basis:          50vw;
      padding:             .25rem;
      background-color:    #333;
      background-position: center center;
      background-repeat:   no-repeat;
      background-size:     cover;

      @media screen and (max-width: 799px) {
        &::after {
          content:      '';
          display:      block;
          position:     absolute;
          bottom:       0;
          left:         0;
          width:        0;
          height:       0;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fefefe rgba(0, 0, 0, 0);
          border-style: solid;
          border-width: 0 0 10vh 100vw;
        }
      }

      @media screen and (min-width: 800px) {
        flex-direction:  column;
        justify-content: initial;
        flex-basis:      30vw;
        height:          100%;
        padding:         2rem 0 1rem 2rem;
        order:           initial;
      }

      button {
        color:          rgba(255, 255, 255, .95);
        text-shadow:    0 0 15px rgba(0, 0, 0, .25);
        text-transform: uppercase;
        font-size:      1rem;

        @media screen and (min-width: 800px) {
          font-size: 1.2rem;

        }
      }

      .actions {
        margin-top:  0;
        white-space: nowrap;

        @media screen and (min-width: 800px) {
          margin-top: auto;
        }
      }
    }

    .top-navigation {
      position:        relative;
      top:             0;
      right:           0;
      display:         flex;
      flex-direction:  column;
      justify-content: flex-end;
      order:           4;
      width:           100vw;
      padding:         1rem 2rem 3rem;
      z-index:         0;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);

      @media screen and (min-width: 800px) {
        position:       absolute;
        width:          70vw;
        order:          initial;
        flex-direction: row;
        padding:        1rem 2rem;
      }

      @media screen and (min-width: 900px) {
        padding: 1rem 4rem;
      }

      a {
        display:       block;
        padding:       1rem 0;
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        transition:    all .25s;

        & + a {
          margin-left: 1rem;
        }

        &:last-child {
          border-bottom: none;

          @media screen and (min-width: 800px) {
            border-bottom: 2px solid rgba(0, 0, 0, .1);
          }
        }

        &:hover {
          border-bottom-color: rgba(#2196f3, .5);
        }
      }
    }

    .cover {
      left:           0;
      display:        flex;
      overflow:       initial;
      pointer-events: none;
      z-index:        2;
      position:       relative;
      top:            -25vmin;
      height:         calc(45vh - 25vmin);
      margin:         0 auto;
      order:          2;

      @media screen and (min-width: 450px) {
        top:    -35vmin;
        height: calc(65vh - 35vmin);
      }

      @media screen and (min-width: 800px) {
        position: absolute;
        top:      0;
        height:   100%;
        margin:   0 0 0 30vw;
        order:    initial;
      }

      img {
        width:          auto;
        height:         45vh;
        max-height:     initial;
        margin:         auto;
        opacity:        1;
        box-shadow:     0 5px 40px 5px rgba(0, 0, 0, .4);
        transition:     all .5s;
        cursor:         zoom-in;
        pointer-events: all;

        @media screen and (min-width: 450px) {
          height: 65vh;
        }

        @media screen and (min-width: 800px) {
          margin:    auto auto 10vh auto;
          transform: translateX(-50%);
        }
      }

      &.zoom {
        cursor:         zoom-out;
        pointer-events: all;

        @media screen and (max-width: 800px) {
          top: -35vmin;
        }

        img {
          max-width:  90vw;
          height:     auto;
          box-shadow: 0 0 80px 10px rgba(0, 0, 0, 1);

          @media screen and (min-width: 800px) {
            height:        calc(100% - 2rem);
            margin-bottom: 1rem;
          }
        }

        &::after {
          content:  '';
          display:  block;
          position: fixed;
          top:      0;
          left:     0;
          width:    100%;
          height:   100%;
        }
      }
    }

    .meta {
      display:        flex;
      flex-direction: column;
      flex-grow:      1;
      order:          3;
      overflow-x:     hidden;
      margin:         0;
      padding:        2rem 2rem .5rem;
      border:         0;
      background:     #fff;

      @media screen and (min-width: 800px) {
        flex-basis: 70vw;
        flex-grow:  1;
        order:      initial;
        height:     100%;
        padding:    calc(25vh - 1rem) 1rem 25vh calc(23vh + 1rem);
        overflow-y: auto;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, .25);
      }

      @media screen and (min-width: 900px) {
        padding: calc(25vh - 1rem) 4rem 25vh calc(23vh + 4rem);
      }

      .actions {
        display:     flex;
        align-items: stretch;
        flex-wrap:   wrap;

        @media screen and (min-width: 800px) {
          justify-content: flex-end;
          padding:         15vh 0 0 0;
        }

        button {
          display:     block;
          height:      3rem;
          margin:      .15rem;
          padding:     .5rem 1rem;
          background:  none;
          color:       #989898;
          text-shadow: 1px 1px #fff;
          box-shadow:  inset 0 0 0 rgba(0, 0, 0, 0.075);
          background:  #eee;
          transition:  box-shadow .125s;
          font-size:   0;

          @media screen and (min-width: 800px) {
            font-size: 1rem;
            margin:    0 .15rem;
          }

          @media screen and (min-width: 1000px) {
            font-size: 1rem;
            margin:    0 .5rem;
          }

          &:hover {
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.075);
          }

          .im {
            font-size:     1rem;
            padding-right: 0;

            @media screen and (min-width: 1000px) {
              padding-right: .75rem;
            }
          }
        }
      }
    }

    .title,
    .author,
    .more,
    .genres {
      text-align: left;
    }

    .title {
      font-size: 2rem;
    }

    .author,
    .more,
    .genres {
      color: rgba(0, 0, 0, .5);
    }

    .description {
      margin: 1rem 0;
    }
  }
}

.add-book {
  display:        flex;
  flex-direction: column;
  max-width:      1000px;
  margin:         0 auto;
  padding:        2rem;
  border-radius:  3px;
  background:     #fff;

  label[for="book-cover"] {
    position:    relative;
    display:     flex;
    align-items: flex-start;

    input {
      width:    1px;
      height:   1px;
      opacity:  0;
      position: absolute;
    }
  }

  .book-cover-placeholder {
    position:            relative;
    width:               180px;
    height:              300px;
    border:              2px dashed rgba(0, 0, 0, .05);
    border-radius:       5px;
    background-image:    url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%200c-6.627%200-12%205.373-12%2012s5.373%2012%2012%2012%2012-5.373%2012-12-5.373-12-12-12zm6%2013h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z%22%20fill%3D%22%23eee%22%2F%3E%3C%2Fsvg%3E);
    background-size:     50% 50%;
    background-repeat:   no-repeat;
    background-position: center center;
    cursor:              pointer;
    transition:          all .25s;

    &:hover {
      background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%200c-6.627%200-12%205.373-12%2012s5.373%2012%2012%2012%2012-5.373%2012-12-5.373-12-12-12zm6%2013h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z%22%20fill%3D%22%23ddd%22%2F%3E%3C%2Fsvg%3E);
      border:           2px dashed rgba(0, 0, 0, .1);
    }

    &.loaded {
      border:          2px solid transparent;
      border-radius:   4px;
      background-size: cover;

      &:hover::after {
        content:             '';
        display:             block;
        position:            absolute;
        top:                 0;
        left:                -2px;
        width:               calc(100% + 4px);
        height:              100%;
        border-radius:       2px;
        background-image:    url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M23%2012c0%201.042-.154%202.045-.425%203h-2.101c.335-.94.526-1.947.526-3%200-4.962-4.037-9-9-9-1.706%200-3.296.484-4.655%201.314l1.858%202.686h-6.994l2.152-7%201.849%202.673c1.684-1.049%203.659-1.673%205.79-1.673%206.074%200%2011%204.925%2011%2011zm-6.354%207.692c-1.357.826-2.944%201.308-4.646%201.308-4.962%200-9-4.038-9-9%200-1.053.191-2.06.525-3h-2.1c-.271.955-.425%201.958-.425%203%200%206.075%204.925%2011%2011%2011%202.127%200%204.099-.621%205.78-1.667l1.853%202.667%202.152-6.989h-6.994l1.855%202.681z%22%20fill%3D%22rgba%28255%2C255%2C255%2C.75%29%22%2F%3E%3C%2Fsvg%3E);
        background-repeat:   no-repeat;
        background-color:    rgba(0, 0, 0, .25);
        background-size:     50% 50%;
        background-position: center center;
      }
    }
  }

  label[for="book-file"] {
    position:  relative;
    flex-wrap: wrap;
  }

  .book-meta {
    flex-basis: 80%;
    height:     0;
    overflow:   hidden;
    margin:     0 0 0 auto;
    padding:    1rem 0;
    opacity:    0;
    transition: all .25s;
    color:      rgba(0, 0, 0, .5);

    .value {
      font-weight: bold;
      color:       rgba(0, 0, 0, .87);
    }

    &.loaded {
      opacity: 1;
      height:  initial;

      li {
        padding: .25rem 0;
      }
    }

    .complete-meta pre {
      overflow:      hidden;
      height:        0;
      opacity:       0;
      transition:    all .25s;
      background:    rgba(0, 0, 0, .05);
      padding:       1rem;
      border-radius: 4px;
      text-shadow:   0 1px #fff;

      &.expanded {
        height:     initial;
        opacity:    1;
        transition: all .25s;
      }
    }
  }
}

.author {
  max-width:     1000px;
  margin:        1rem auto;
  padding:       1rem;
  background:    #fff;
  border-radius: 3px;
}
