.search-form {
  display:       flex;
  width:         100%;
  margin:        0;
  border-bottom: 1px solid rgba(0, 0, 0, .15);

  input,
  button {
    border:        0;
    border-radius: 0;
    box-shadow:    none;
    background:    rgba(0, 0, 0, .075);
    color:         #000;
  }

  & > button {
    display:     block;
    flex-basis:  1rem;
    margin:      0;
    color:       rgba(0, 0, 0, .4);
    text-shadow: 0 1px rgba(255, 255, 255, .5);

    &:hover,
    &:focus-within {
      color: rgba(0,0,0,0.8);
    }

    .material-icons {
      padding: 0;
    }
  }

  [name="term"] {
    display:   block;
    flex-grow: 1;
    padding:   1rem 0 1rem 1rem;

    &::-webkit-input-placeholder {
      color:       rgba(0, 0, 0, .4);
      text-shadow: 0 1px rgba(255, 255, 255, .5);
    }
  }
}

.no-results {
  display:    block;
  padding:    2rem 0;
  color:      rgba(0, 0, 0, .35);
  text-align: center;
}
