<header class="content-header">
  <h1>{{author}}</h1>
  <div class="actions">
    <button class="cancel"><span class="im im-angle-left"></span>Zurück</button>
    <button class="update-info"><span class="im im-redo"></span>Aktualisieren</button>
  </div>
</header>
<main role="main" class="author">
  {{{summary}}}
</main>
